<app-nav></app-nav>
<div *ngIf="reset">
  <div class="mt-heading col-md-offset-4">
    <h3>Enter your registered email to reset your password</h3>
  </div>
  <div class="col-md-4 col-md-offset-5 mt-input">
    <div class="form-inline">
        <input type="text" class="form-control" placeholder="Enter your Email" #email>
        <button class="btn btn-primary" (click)="isUserExists(email.value)">Submit</button>
    </div>
  </div>
</div>

<div *ngIf="formField">
  <div class="col-md-4 col-md-offset-4 mt-heading-pwd">
    <div class="panel panel-primary">
      <div class="panel-heading panel-primary">
      Reset Password
      </div>
      <div class="panel-body">
        <div class="input-position">
          <label for="newpassword">New Password &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></label>
          <div class="col-md-10 reset-field">
            <input type="password" #newpassword class="form-control" placeholder="New Password" id="newpassword" (keyup)="newPasswordChange($event)" />
          </div>
          <div class="col-md-2">
            <i *ngIf="validNewPassword" class="icon-position fa {{validNewPassword == 'yes' ? 'fa-check-circle' : 'fa-times'}}" aria-hidden="true"></i>
          </div>
        </div>
        <div class="input-position">
          <label for="confirmpassword">Confirm Password &nbsp;&nbsp;<span class="glyphicon glyphicon-eye-open"></span></label>
          <div class="col-md-10 reset-field">
            <input type="password" #confirmpassword class="form-control" placeholder="Confirm Password" id="confirmpassword" (keyup)="confirmPasswordChange($event)"/>
          </div>
          <div class="col-md-2"> 
            <i *ngIf="validConfirmPassword" class="icon-position fa {{validConfirmPassword == 'yes' ? 'fa-check-circle' : 'fa-times'}}" aria-hidden="true"></i>
          </div>
        </div>
        <div class="reset-btn-position">
          <button class="form-control btn btn-primary" id="reset" (click)="resetPassword(newpassword.value,confirmpassword.value)">Reset</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="successMessage" class="">
  <div class="mt-heading col-md-offset-3">
    <h3>Password reseted successfully <a routerLink="/login">Try logging in</a></h3>
  </div>
</div>
