.mt-heading {
  margin-top: 13%;
}

.mt-input {
  margin-top: 2%;
}

h3 {
  color: white;
}

.mt-heading-pwd {
  margin-top: 10%;
}

h3 a {
  color: #cfcfcf;
}

.reset-field {
	padding: 0px;
	margin-bottom: 15px;
}

.icon-position {
	padding-top: 8px;
}

.fa-check-circle {
	color: green;
}

.fa-times {
	color: red;
}

.input-position {
  margin-left: 5%;
}

.reset-btn-position {
  margin-left: 5%;
  margin-right: 15%;
}