/*******************************
* Does not work properly if "in" is added after "collapse".
* Get free snippets on bootpen.com
*******************************/
    .panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        border-color: #EEEEEE;
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }

    .panel-title {
        font-size: 14px;
    }

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border-top-color: #EEEEEE;
    }

/* ----- v CAN BE DELETED v ----- */
body {
    background-color: #26a69a;
}

.demo {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pd-input {
    margin-bottom: 20px;
}

.glyphicon-edit:hover {
    cursor: pointer;
}

.glyphicon-edit {
    font-size: 20px;
    color: grey;
}

.fa-check-circle {
    color: green;
}

.fa-times {
    color: red;
}

.icon-position {
    padding-top: 8px;
}

.oldpwd-error {
    color: red;
}

.foto-edit {
    position: absolute;
    font-size: 15px;
}

h2 {
    color: dimgrey;
}

.username {
    margin-top: 4%;
    margin-left: 10%;
}